*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
body{
    background-color: #000000ed;
    height: 2600px;
    
    
}
.backgroundContainer{
    background-image: url(banner.jpg);
    filter: blur(30px);
    height: 100vh;
    top: 4rem;
    position: relative;
    opacity: 0.6
}
.mainContaimer{
    position: relative;
}
.pinkOverlay{
    opacity: 75%;
    background-color: rgb(255 75 84 / 30%);
    height: 100%;
    width: 100%;
}

.contentContainer{
    position: relative;
    top: 0;
    background-color: rgba(0, 0, 0, .5);
    
}

nav{
    position:absolute ;
    align-items: start;
    z-index: 1;
    width: 100%;
    height: 10%;
}
.uppernavbar{
    display: flex;
    padding-top: 0.25rem;
    padding-left:2rem;
}
.unleft{
    width: 50%;
}
.unright{
    width: 50%;
}
.new-buttons{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: end;
    padding-right: 3.5rem;
}
.lang-b svg{
    color: #ffffff;
    position: relative;
    top: 2px;
}

.lang-b button{
    height: 2.2rem;
    width: 8.4rem;
   border-radius: 27px;
   background-color:rgba(0, 0, 0, 0.525);
   color: #ffffff;
   border: 1px solid rgba(255, 255, 255, 0.626);
   font-size: 1rem;
   position: relative;
   justify-content: space-between;
}

.signin-b{
    padding: 0px 0px 0px 12px;
}
.signin-b button{
    height: 2.15rem;
    width: 5.2rem;
    border-radius: 27px;
    border-color: rgba(0, 0, 0, 0);
    background-color: #ffffff;
    font-size: 0.9rem;
    font-weight: 530;
}
.unleft img{
    height: 5.45rem;
    width: 12.75rem;
}
.bgg{
    border: 5px solid green;
}

.banner {
    display: flex;
    position: relative;
    background-image: url(banner.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    max-width: 94%;
    height: 36rem;
    width: 100%;
    
    align-items: center;
    margin: 0% 3%;
    top: -89vh;
    bottom: 22rem;
    border-radius: 17px;
    border: 2px solid #ffffff24;
    box-sizing: content-box;
    clip-path: polygon(0% -1000%, 100% 5%, 100% 100%, 49% 93%, /* Inward curve at the bottom center */ -12% 101%);
    justify-content: center;

    /* Top corner adjustments */
    border-top-left-radius: 17px;
    border-top-right-radius: 17px; /* Add this for the top-right corner */
}


.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.711); /* Semi-transparent black overlay */
    border-radius: inherit;
    z-index: inherit;
}

.txt-banner{
    position: absolute;
    height: 100%;
    width: 56%;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}


.headd h2{
    color: rgb(255, 255, 255);
    font-size: 3.5rem;
    text-align: center;
    font-weight: 800;
    margin-bottom: 1.7rem;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}
.headd h4{
    display: flex;
    color: #ffffff;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 400;
    justify-content: center;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}
.txt-banner p{
    display: flex;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight:500 ;

    color: #ffffff;
    font-size: 1.1999999rem;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}
form{
    display: flex;
}
 input::placeholder {
    color: rgb(218, 213, 213); /* Sets the color of the placeholder text */
   font-size: 1rem;
   padding-left: 1rem;
}
.eid{
    height: 3.5rem;
    width: 21.5rem;
    border-radius: 30px;
    margin-right: 0.5rem;
    background-color: hsl(0deg 0.72% 48.06% / 59%);
    border: 0.5px solid rgb(147 147 147 / 90%);
}

.gs-button{
    height: 3.5rem;
    width: 14.35rem;
    position: relative;
    border-radius: 30px;
    background-color: red;
    color: #fff9f9;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: justify;
    padding-left: 29px;

   
}
.gs svg{
    position: absolute;   
    right: 1rem;
    bottom: 15px;
}
.trend-now{
    position: relative;
    bottom: 42rem;
    margin-left: 8rem;

}
.trend-now h2 {
    font-size: 2rem;
    font-weight: 700;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    color: #dfd7de;
}
.trending-container{
    color: #ffffff;
    position: relative;

    
    

}
.gal{
    display: flex;
    gap: 2rem;
    position: relative;
    top: 1rem;
}


.gallary1 {
    width: 8.1875rem;
    height: 16.375rem;
    background-image: url(t1.webp);
    background-size: 100% 100%;
    border-radius: 17px;
    
}
.gallary2 {
    width: 8.1875rem;
    height: 16.375rem;
    background-image: url(t7.webp);
    background-size: 100% 100%;
    border-radius: 17px;
}
.gallary3 {
    width: 8.1875rem;
    height: 16.375rem;
    background-image: url(t3.webp);
    background-size: 100% 100%;
    border-radius: 17px;
}
.gallary4 {
    width: 8.1875rem;
    height: 16.375rem;
    background-image: url(t4.webp);
    background-size: 100% 100%;
    border-radius: 17px;
}
.gallary5 {
    width: 8.1875rem;
    height: 16.375rem;
    background-image: url(t5.webp);
    background-size: 100% 100%;
    border-radius: 17px;
}
.gallary6 {
    width: 8.1875rem;
    height: 16.375rem;
    background-image: url(t6.webp);
    background-size: 100% 100%;
    border-radius: 17px;
}
.gallary7 {
    width: 8.1875rem;
    height: 16.375rem;
    background-image: url(t8.webp);
    background-size: 100% 100%;
    border-radius: 17px;
}
.gallary8 {
    width: 8.1875rem;
    height: 16.375rem;
    background-image: url(t9.webp);
    background-size: 100% 100%;
    border-radius: 17px;
}
button{
    background-color: transparent;
}
.gal button p{
    position: relative;
    top: 0.1rem;
    right: 1.5rem;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-size: 4.5rem;
    -webkit-text-stroke: 0.125rem rgb(255, 255, 255);
    text-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.5);     
    text-decoration: none;
    font-weight: 900;
}
.img-hov:hover{
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    transform: scale(1.1);
  z-index: 2;
  box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}
.MRTJ{
    position: relative; 
    bottom: 37rem;
    font-size: 1.75rem;
    font-weight: 700;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    color: #dfd7de;
    padding-left: 8rem;
}
.mrtjbox{
    height: 8.75rem;
    border-radius: 1rem;
    background-color:rgba(255, 255, 255, 0.1);
    color:#dfd7de;
    border: 1.5px solid rgba(255, 255, 255, 0.04);
    font-size: 1.1rem;
    font-weight: 700;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;

}
.mrtjbox p{
    padding: 16px;
}
.mrtjbox svg{
    position: relative;
    margin-left: 13rem;
}
#monitor{
    margin-top: -1rem;
}
.MRTJ-container{
    display: flex;
    position: relative;
    top: 1rem;
    gap: 1rem;
    width: 1320.8px;
}
.faq{
    position: relative; 
    bottom: 33rem;
    font-size: 1.85rem;
    font-weight: 700;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    color: #ffffff;
    padding-left: 8rem;
}
.faqbox{
    height: 4.5rem;
    width: 76.95rem;
    border-radius: 1rem;
    background-color:rgba(255, 255, 255, 0.1);
    color:#ffffff;
    margin-bottom: 0.5rem;
    border: 1.5px solid rgba(216, 207, 207, 0.04);
    font-size: 1.1rem;
    font-weight: 700;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    display: flex;
    justify-content: space-between;
}

.faqbox {
    align-self: center;
    padding: 22px;
}

.faqbox:hover{
    background-color:rgba(255, 255, 255, 0.185);
    transition:transform ease;
    cursor: pointer;
}
.faq-container{
    position: relative;
    top: 1rem;
    width: 1320.8px;
}
.form-agn{
    width: 77rem;
    position: relative; 
    bottom: -3rem;
    align-self: center;
    justify-items: center;
    
}
.form-agn h3{
    font-size: 1rem;
}

.em-but{
    position: relative;
    top: 1rem;
}
.footer1{
    position: relative;
    bottom: -7rem;
}
#que{
    display:inline;
    font-size:1rem;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
}
.no{
    font-size:1rem;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
    text-decoration: underline;
}
.link{
    display: grid;
    font-size:1rem;
    position: relative;
    top: 3rem;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 300;
    width: 76.95rem;
    grid-template-columns: auto auto auto auto;
    gap: 1rem;
    justify-content: stretch;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;

}
.link a{
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    text-decoration: underline;
    font-size:0.92rem;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 100;
    text-decoration-color: rgba(255, 255, 255, 0.7);
    text-decoration-thickness: 0rem;
}
.link a p{
    width: 10rem;
}
.link a p:hover{
    cursor: pointer;
}
.no:hover{
    cursor: pointer;
}
.lang-b2{
    position: relative;
    top: 13rem;
}
.lang-b2 svg{
    color: #ffffff;
    position: relative;
    top: 2px;
}

.lang-b2 button{
    height: 2.0rem;
    width: 8.4rem;
   border-radius: 27px;
   background-color:rgba(0, 0, 0, 0.525);
   color: #ffffff;
   border: 1px solid rgba(255, 255, 255, 0.626);
   font-size: 1rem;
   position: relative;
   justify-content: space-between;
}
.ni{
    position: relative;
    top: 16rem;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.875rem;
    font-weight: 400;
}
.dis{display: inline;
    position: relative;
    top: 18rem;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8125rem;
    font-weight: 400;
}
.lnk{
    position: relative;
    top: 18rem;
    font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
    font-size: 0.8125rem;
    font-weight: 400;
    color: rgb(68, 142, 244);
    padding: 0rem;
    text-decoration: underline;
}
.lnk:hover{
    cursor: pointer;
}
